body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: #E7E8D1;
  color: #333;
  padding: 2em;
}

.header {
  background-color:  #B85042;
  color:white;
  padding: 1em;
  text-align: center;
}
.main_heading {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
}
.box{
  background-color: #A7BEAE;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(37, 5, 5, 0.1);
}
.box-title {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}
.box-text {
  display: block;
}

.footer {
  text-align: center;
  padding: 1em;
  background-color: #e0e0e0;
  border-top: 1px solid #ccc;
}