body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: #2F3C7E;
  color: #f8f2f2;
  padding: 2em;
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  margin: 2em 0;
}
.box {
  background-color: #FBEAEB;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(37, 5, 5, 0.1);
  color: black;
  text-align: center;
  margin-bottom: 1.5em; 
}
.box-title {
  font-weight: lighter;
  display: block;
  margin-bottom: 2em;
}
.box-text {
 display: flexbox;
}

